
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }

  body{
    background-color: #fcf5ce;
  }

  .cabecalho {
    width: 100vw;
    height: 100px;
    box-sizing: border-box;
    background: #FFE071;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;



}

.logo {
    height: 60px;
    width: auto;
    margin-top: 20px;
    
}

.menu {
    margin-right: 30px;
    margin-top: 30px;
}

.menu .menu-faketrigger {
    position: absolute;
    z-index: 1000;
    width: 35px;
    height: 35px;
    opacity: 0;
    cursor: pointer;
}

.menu .menu-faketrigger:checked~ul {
    background-color: white;


}

.menu .menu-linhas {
    position: absolute;
    z-index: 999;
    width: 35px;
    height: 35px;


}

.menu .menu-linhas span {
    display: block;
    width: 35px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #575555;
    border-radius: 3px;
    transition: all ease .2s;
}

.menu .menu-faketrigger:checked ~ .menu-linhas span {
    background-color: #232323;
}

.menu .menu-faketrigger:checked ~ .menu-linhas span:nth-child(1) {
    transform-origin: 0% 100%;
    transform: rotate(45deg) scaleX(1.25);         ; 

}

.menu .menu-faketrigger:checked ~ .menu-linhas span:nth-child(2) {
    opacity: 0;
    
}

.menu .menu-faketrigger:checked ~ .menu-linhas span:nth-child(3) {
    transform-origin: 0% 0%;
    transform: rotate(-45deg) scaleX(1.25);
    
}

.menu ul {
    position: absolute;
    z-index: 998;
    left: 0;
    top: 0;
    width: 100vw;
    height: 90vh;
    padding-top: 100px;
    background-color: white;
    margin-left: -1800px;
    transition: all ease .3s;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif ;

}

.menu-faketrigger:checked ~ ul {
    margin-left: 0;

}

.menu ul li {
    padding: 10px 30px;

}

.menu ul li a {
    text-decoration: none;
    color: #232323;
    font-size: 22px;
    transition: all ease .3s;
}

.menu ul li a:hover {
    color:#978f8f
}

main {
    margin-bottom: 100px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

section {
    width: 80vw

}

h1 {
    margin-top: 60px;
}

h2{
    margin-top: 30px;
    font-family: 'Poppins', sans-serif ;
}
 p {
    margin-top: 30px;
    font-family: 'Poppins', sans-serif ;
    font-size: 20px;
    text-align: justify;

 }


